* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;
}

body {
   padding-left: 40px;
   padding-right: 40px;
   background-color: gray;
}

nav.sidebar {
   background-color: black;
   height: 100%;
   left: 0;
   position: fixed;
   top: 0px;
   max-width: 200px;
}

.boxed {
   background-color: rgb(54, 44, 142);
   border-radius: 50%;
   width: 75px;
   height: 75px;
   margin: 10px;
   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
   color: white;
   /*font-size: 20px;*/
}

.side{
   line-height: 70px;
   color: white;
   text-decoration: none;
}

div.maincontent {
   padding-left: 100px;
}

h1 {
   color : white;
   font-weight: bold;
   text-align: center;
   font-size : 40px;
   background-color: #33BEBE;
   margin-bottom: 20px;
   text-transform: uppercase;
}

h2 {
   color: darkblue;
   font-weight: bold;
   text-transform: uppercase;
   text-align: left;
   font-size: 20px;
   margin-bottom: 10px;
   margin-top: 10px;
}

img {
   text-align: center;
}

.subtopic {
   color : darkblue;
   font-weight: bold;
   text-align: left;
   font-size: 20px;
   margin-bottom: 10px;
   margin-top: 10px;
}

.internaltopic {
   color : green;
   font-weight: bold;
   text-align: left;
   font-size: 16px;
   margin-bottom: 10px;
   margin-top: 10px;
}

.centeredimage {
    text-align: center;
}

.detail {
   color: rgb(0, 0, 0);
   font-size: 15px;
   margin-left: 20px;
   font-family: trebuchet;
   background-color: #D6D4D4;
   text-align: justify;
   padding: 15px;
}

.abtme {
   display: flex;
   background-color: #D6D4D4;
   padding: 10px;
   flex-flow: row nowrap;
   justify-content: flex-start;
}

.myphoto {
   order: 0;
   max-width: 5%;
}

.pic {
   max-width: 100%;
   border-radius: 50%;
   background-repeat: no-repeat;
}

#abt {
   order: 1;
   max-width: 95%;
   text-align: justify;
}

.specialwords {
   color: #0c65a5;
   font-style: italic;
   font-weight: bold;
}

table, td, th {
    border: 1px solid green;
}

th {
    background-color: #1C4032;
    color: white;
    text-align: center;
}

td {
   padding-right: 10px;
   text-align: justify;
}

table {
   margin-top: 10px;
   margin-bottom: 10px;
}

ul.none {
   list-style-type: none;
}