<!DOCTYPE html>

<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml">-->
<html>
<head>
    <meta charset="utf-8">
    <title>Admin</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {% include "nav.html" %}
    {% if user == "kranthi" %}
    <form method="post" id="addcontent">
        <input type="text" name="title" placeholder="Title of the Concept"><br><br>
        <textarea type="text" maxlength="1000000000" name="concpet" placeholder="Explain the Concept"></textarea><br>
        <input type="button" value="Add Content to Database">
    </form>
    {% else %}
    You are not authorized to add content to database
    {% endif %}
</body>
</html>