<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {% include "nav.html" %}
    <div class="content">
        <div class="read">
            {% if user_dispname %}
            <form method="post" action="/mainpage" style="float:right">
                Logged in as {{ user_dispname }} <input type="submit" name="logout" value="logout">
            </form>
            <br /><hr />
            {% endif %}
            {% if displayconcept %}
            {% autoescape false %}
            {{ displayconcept.concept }}
            {% endautoescape %}
            {% endif %}
            {% if not contentadd %}
            <div id="content-slider">
                <div id="slider">
                    <div id="mask">
                        <ul>
                            {% for area in areas %}
                            {% autoescape false %}
                            <li id="id{{ areas.index(area) }}" style="-moz-animation:cycle{{ areas.index(area) }} 60s linear infinite;-webkit-animation:cycle{{ areas.index(area) }} 60s linear infinite;">
                                {{ area.concept }}
                                <div class="abt">
                                    <h1>{{ area.title }}</h1>
                                </div>
                            </li>
                            {% endautoescape %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="progress-bar"></div>
                </div>
            </div>
            <br>
            <div style="text-transform:capitalize;text-align:center;font-weight:bolder;font-size:20px">
                <marquee behavior="scroll" direction="left">Hover over to pause the Slideshow</marquee>
            </div>
            <br>
            <b>Comments are:</b><br>
            {% if posts %}
            {% for post in posts %}
            <div class="posts" style="background-color:Highlight;border-radius:2.5%;">
                <b>{{ post.user }} posted on {{ post.posted }}:</b>
                <hr />
                <div class="post">{{ post.post }}</div>
            </div>
            {% endfor %}
            {% endif %}
            {% else %}
            <form method="post" class="addcontent">
                <input type="text" name="title" placeholder="Title of the Concept"><br><br>
                <textarea type="text" maxlength="1000000000" name="concept" placeholder="Explain the Concept"></textarea><br><br>
                Magic Word: <input type="text" name="magicword" placeholder="Please enter Magic word" style="max-width:200px">
                {% if magicword and not magicword == "cranticumar" %}
                <b style="color:red">{{ error }}</b>
                {% elif error %}
                <b style="color:green">{{ error }}</b>
                {% endif %}
                &emsp;<input type="submit" value="Add Content to Database">
            </form>
            {% endif %}
        </div>
        <div class="application">
            {% if not user_dispname and home %}
            <div style="margin: 1% 0% 1% 0%;background-color:#f1f1f1;color:black;border-radius:1%;padding-bottom:10px;">
                {% include "loginform.html" %}
            </div>
            {% elif user_dispname %}
            <form action="/mainpage" method="post">
                <b>Comments</b>
                <textarea type="text" name="comment" id="post" placeholder="Write your Valuable feedback" maxlength="10000"></textarea>
                <input type="submit" name="post" value="post">&emsp;
                {% if posterror %}
                {{ posterror }}
                {% endif %}
            </form>
            {% endif %}
            <div style="border-radius:5px;border: 1px solid #000;padding:10px;margin-bottom:10px;margin-top:10px;max-height:70%;overflow:auto;">
                {% if not home %}
                {% block content %}
                {% endblock %}
                {% else %}
                <form>
                    Want to read a specific Topic:
                    <select name="topic">
                        {% for area in areas %}
                        <option value="" hidden selected disabled></option>
                        <option value="{{ area.title }}">{{ area.title }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" name="getmetopic" value="Fetch">
                </form>
                <form>
                    <div style="text-align:center;padding:50px;">
                        <button type="submit" name="surpriseme" value="true" style="background-color:transparent;border:none;cursor:pointer">
                            <img src="/media/surpriseme1.jpg" alt="surpriseme!!!">
                        </button>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>