<!DOCTYPE html>

<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml">-->
<html>
<head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {% include "nav.html" %}
    <div class="content">
        <div class="read">
            {% for head, concept in areas %}
            <div class="concept">
                <h3>{{ head }}</h3>
                <p>{{ concept }}</p>
            </div>
            {% endfor %}
            <form>
                {% if user %}
                <div class="userbar">
                    <b>{{ user }} logged in</b>
                </div>
                    <textarea type="text"
                              name="comment"
                              id="post"
                              placeholder="Write your Valuable feedback"
                              maxlength="10000"></textarea>
                    <input type="button" value="post">
                {% else %}
                <div class="userbar">
                    <b>Please login to post comments</b>
                    <input type="text" name="uname" placeholder="User Name">
                    <input type="password" name="pwd" placeholder="Password">
                    <input type="button" value="Login">
                </div>
                {% endif %}
                {% if posts %}
                <ul>
                    {% for post in posts %}
                    <li>
                        <b>{{ post[0] }} on {{ post[1] }} posted:</b>
                        <div class="post">{{ post[2] }}</div>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </form>
        </div>
        <div class="application">
            {% if home %}
            <form method="post" style="padding-top:25px; padding-left:25px">
                <table>
                    <tr>
                        <td>User Name*:&emsp;</td>
                        <td><input type="text" name="uname" placeholder="choose your username"></td>
                    </tr>
                    <tr>
                        <td>Password*:&emsp;</td>
                        <td><input type="password" name="pwd" placeholder="Password"></td>
                    </tr>
                    <tr>
                        <td>Retype Password*:&emsp;</td>
                        <td><input type="password" name="pwd" placeholder="Retype Your Password"></td>
                    </tr>
                    <tr>
                        <td>Nick Name:&emsp;</td>
                        <td><input type="text" name="pwd" placeholder="Nick Name"></td>
                    </tr>
                </table><br>
                &emsp;<input type="checkbox" name="tandc"> &nbsp; I agree to the terms and conditions<br><br>
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input type="button" value="Create User">
            </form>
            {% else %}
                {% block content %}
                {% endblock %}
            {% endif %}
        </div>
    </div>
</body>
</html>