* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;
}

body {
    margin: 0px;
}

nav {
    width: 100%;
    background-color : #444;
    height: 40px;
    text-align: center;
    position: fixed;
}

nav ul {
    text-align: justify;
    line-height: 0;
    margin: 0px;
    padding: 5px;
    width: 100%;
}

nav ul:after{
    content: '';
    display: inline-block;
    width: 100%;
}

nav ul li {
    display: inline-block;
    line-height: 100%;
    font-size: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

nav ul li a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    text-decoration: none;
}

nav ul li a:hover{
    background-color: white;
    color: black;
}

nav ul li a:active {
    background-color: white;
    color: black;
}

.content {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 50px;
}

.subnav {
    order: 1;
    width: 12%;
    height: 90%;
    /*position:fixed;*/
    background-color: #CCCCFF;
    color: #000000;
    border-radius: 2%;
    font-family: Tahoma;
}

.subnav ul {
    list-style: none;
    width: 100%;
    padding: 0;
    /*margin: 0;*/
    text-align: center;

}

.subnav ul li {
    height: auto;
    width: 100%;
    background-color: black;
    color: white;
    margin-bottom: 10px;
}

.subnav ul li a {
    font: 16px arial, verdana;
    color: white;
    text-align: center;
    text-decoration: none;
}

.read {
    order: 1;
    width: 55%;
    padding-right: 1.5%;
    padding-left: 1.5%;
}

.application {
    order: 1;
    width: 27%;
    background-color: #CCCCFF;
    padding: 20px;
    position:fixed;
    color: #000000;
    border-radius: 2%;
    font-family: Tahoma;
    height: 85%;
}

.concept {
    background-color: #fff;
    margin-bottom: 15px;
    border: 1px solid #e1e1e1;
    padding: 1.1rem;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.625;
    max-width: 100%;
}

.concept p {
    text-align: left;
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
}

textarea#post {
    width: 100%;
    height: 100px;
    max-height: 200px;
    max-width: 100%;
    font-family: Tahoma;
    font-size: 14px;
    line-height: 1.625;
    border-radius:4px;
}

h3 {
    background-color: rgb(241, 241, 241);
    height: 30px;
    text-align: center;
    padding-right: 10px;
    padding-top: 12px;
    padding-bottom: 5px;
    font-family: 'open sans', arial, sans-serif;
    font-size: medium;
}

.addcontent {
    padding-top: 30px;
    text-align: center;
}

.addcontent input[type=text] {
    width: 90%;
    font-size: large;
    font-family: Tahoma;
    text-align: center;
}

.addcontent textarea {
    width: 90%;
    height: 500px;
    font-size: medium;
    font-family: Tahoma;
}

h4 {
   color : green;
   font-weight: bold;
   text-align: left;
   margin-bottom: 10px;
   margin-top: 10px;
}

.centeredimage {
    text-align: center;
}

.specialwords {
   color: #0c65a5;
   font-style: italic;
   font-weight: bold;
}

table, td, th {
    border: 1px solid green;
}

th {
    background-color: #1C4032;
    color: white;
    text-align: center;
}

td {
   padding-right: 10px;
   text-align: justify;
}

table {
   margin-top: 10px;
   margin-bottom: 10px;
}